.container {
  display: flex;
  align-items: center;
  height: 100dvh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: var(--fntz-blue-lite);
}

.scrollContent {
  display: flex;
  align-items: center;
  gap: 10vw;
  width: max-content;
}

.text {
  flex-shrink: 0;
  width: 60vw;
  text-align: center;
}

.text h1 {
  color: var(--fntz-white);
  text-transform: uppercase;
  line-height: 1;
}

.rotated {
  display: inline-block;
  background: var(--fntz-white);
  color: var(--fntz-blue-lite) !important;
  font-weight: 700;
  line-height: 1.5;
  padding: 0 10px 15px 10px;
  border: 10px solid var(--fntz-blue-lite);
  text-transform: uppercase;
  transform: rotate(-4deg);
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 10vw;
  width: max-content;
  padding-right: 10vw;
}

.card {
  width: 50vw;
  height: 35vw;
  position: relative;
  transform: rotate(-8deg);
  overflow: hidden;
  border-radius: 2rem;
}

.card:nth-child(2) {
  transform: rotate(8deg);
}

.card h3 {
  z-index: 5;
  color: #fff;
  letter-spacing: -0.1vw;
  text-transform: uppercase;
  margin-left: 0;
  font-size: 3.1vw;
  font-weight: 700;
  line-height: 105%;
  text-decoration: none;
  position: absolute;
  inset: auto auto 2.3vw 2vw;
  max-width: calc(100% - 4vw);
  word-wrap: break-word;
}

/* Ensure Next.js Image stays as the background */
.image {
  object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: -1;
}

/* Small screen: Text above cards */
@media (max-width: 767px) {
  .container {
    height: auto;
    padding: 5vw 0;
  }

  .text {
    width: 100%;
    padding: 1rem;
  }
  .scrollContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 5vw;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4vw;
    padding: 0 0 3rem;
  }

  .card {
    width: 90vw;
    height: 300px;
    transform: none !important;
    border-radius: 1rem;
    margin: 3rem auto 0;
  }
}
