.list {
  width: 100%;
  max-width: 720px;
  margin: 0 auto 5rem;
  padding: 0 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
}

.list.lite .item {
  background-color: #fff;
}
.list.dark .item {
  background-color: #f9f7f4;
}

.list.lite .iconWrap {
  background-color: #f9f7f4;
}
.list.dark .iconWrap {
  background-color: #fff;
}
.list.lite .answer {
  background-color: #fff;
}
.list.dark .answer {
  background-color: #f9f7f4;
}
.item {
  border-radius: 33px;
  overflow: hidden;
}

.button {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.qinner {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.75rem 0 1rem;
}
@media (min-width: 1024px) {
  .qinner {
    height: 65px;
  }
}

.question {
  font-weight: 500;
  color: var(--color-black);
  margin: 0;
  flex: 1;
}

.iconWrap {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.iconScale {
  transform: scale(0.5);
  color: var(--color-black);
}

.iconTransition {
  transform-origin: center;
}

.answerWrap {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.answer {
  margin: 0;
  padding: 1rem 1.5rem;
  line-height: 1.6;
  color: #6f6e6c;
}

@media only screen and (max-width: 640px) {
  .container {
    padding: 1rem;
  }
  .inner {
    padding: 5rem 0;
  }
  .list {
    padding: 0;
    margin: 0 auto 3rem;
  }
}
