.container {
  height: 100%;
  width: 100vw;
  padding: 10rem 0 12rem;
}

.title {
  margin-bottom: 3rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.1;
}
.subTitle {
  max-width: 65ch;
  margin: 0 auto 4rem;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  text-align: center;
  padding: 0 1rem;
  line-height: 1.5;
}
.subTitle span {
  line-height: 1.5;
}
.title,
.subTitle {
  color: var(--color-black);
}
.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 4rem auto 3rem auto; /* centers the nav container horizontally */
  background-color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 2rem;
  width: fit-content;
}

.navItem {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #111;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
}

.navItem:hover {
  background-color: #e0e0e0; /* light gray on hover */
}

.active {
  background-color: #000;
  color: white;
}
@media only screen and (max-width: 640px) {
  .container {
    padding: 6rem 0 9rem;
  }
  .nav {
    gap: 0.5rem;
  }
  .navItem {
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
  }
  .title {
    margin-bottom: 3rem;
  }
}
