.header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  background: transparent;
  color: var(--color-black);
  transition: transform 0.3s ease;
  padding: 1rem 2rem;
}

.show {
  transform: translateY(0);
}

.hide {
  transform: translateY(-100%);
  transition-delay: 0.2s;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  margin: 0 auto;

  border-radius: 20px;
  background-color: var(--color-white);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.logo h2 {
  color: var(--color-black);
}

.logo h2 span {
  display: inline-block;
  transform: scaleX(-1);
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.35rem 1rem 0rem;
  color: var(--color-black);
  font-size: 1rem;
}

.header.active .nav {
  background-color: var(--color-black);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.header.active .nav .navItem a {
  color: var(--color-black);
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.navItem a {
  text-decoration: none;
  /* padding: 5px 10px; */
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--color-black);
}

@media (max-width: 768px) {
  .header {
    padding: 0;
  }
  .container {
    border-radius: 0;
  }
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0;
    display: none; /* hidden by default */
    transition: opacity 0.5s ease-out;
    padding: 4rem 1rem 2rem;
  }

  .open {
    opacity: 1;
  }

  .open .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    width: 100%;
    gap: 1rem;
  }

  .navItem {
    position: relative;
    text-align: center;
    width: 100%;
  }

  .navItem a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.85rem;
    transform: translateY(100%);
    transition: transform 0.45s ease-out;
  }

  .open .navItem a {
    transform: translateY(0);
  }

  .hamburger {
    display: flex;
  }

  .submitButton,
  .contact {
    display: none;
  }
}
