body {
  font-family: var(--font-antonio), sans-serif;
  color: var(--fntz-primary-text);
  background-color: var(--fntz-white);

  --fntz-blue-60: #0060df;
  --fntz-blue-70: #003eaa;
  --fntz-dark-blue: #072434;

  --fntz-gold: #c29716;
  --fntz-gold-light: #fbb019;
  --fntz-white: #ffffff;
  --fntz-primary-text: #072434;
  --fntz-secondary-text: #5e707b;
  --fntz-font-size: 18px;
}

h1,
h2 {
  /* font-family: var(--font-tienne), serif; */
  font-family: var(--font-antonio), sans-serif;
}

p,
span,
h3 {
  font-family: var(--font-nunito-sans), sans-serif;
}

h1 {
  font-size: 6.25vw;
}
h3 {
  font-size: 24px;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  margin: 0 auto;
  /* padding: 0 16px; */
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 6.25vw;
  }
  .container,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
  .container,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-xl {
    max-width: 1140px;
  }
  h1 {
    font-size: 13vw;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-xxl {
    max-width: 1320px;
  }
  h1 {
    font-size: 6.25vw;
  }
  h3 {
    font-size: 3.1vw;
  }
}
