.gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(198, 214, 215, 1) 100%);
}

.largeImage {
  position: relative;
  /* height: 100%; */
  width: 100vw;
  aspect-ratio: 16/9;
}

.image {
  object-fit: cover;
}
