.btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  border: none;
  padding: var(--space-small-s2) var(--space-small-s4);
  font-weight: 500;
  cursor: pointer;

  min-height: 56px;
  min-width: 160px;
  width: auto;
  max-width: 100%;

  flex: 0 0 auto;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn.dark {
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn.lite {
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn.dark:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

.btn.lite:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.small {
  font-size: 0.75rem;
}

.medium {
  font-size: 1rem;
}

.large {
  font-size: 1.25rem;
}
