.section {
  height: 100vh;
  background: var(--color-black);
  position: relative;
  overflow: hidden;
}

.imageWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 2550px;
  height: 60%;
  border-radius: 100vh;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.image {
  object-fit: cover;
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(150%);
  text-align: center;
  color: white;
  opacity: 0;
  z-index: 2;
}

.title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.subTitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 640px) {
  .content {
    width: 100%;
    padding: 0 1rem;
  }
}
